---
created_at:
updated_at: 
---
---

```python
{{ code }}
```

---

> [!info] Keywords
> - ...

> [!tip] Refs
> - BOJ :: [{{ no }} - {{ title }}](https://www.acmicpc.net/problem/{{ no }})
> - GitHub :: [algorithm-ps/boj/{{ no }}](https://github.com/nno0obb/algorithm-ps/tree/main/boj/{{ no }})

> [!multi-column]
>
>> [!cite] Tags
>> - [[🏷️ python3]]
>> - [[🏷️ solution]]
>
>> [!example] Paths
>> - [[🔖 computer_science]]
>>   - [[🔖 algorithm]]
>>     - [[🔖 ps]]
>>       - [[🔖 boj]]
