---
created_at:
updated_at: 
---
---

```python
{{ code }}
```

---

> [!info] Keywords
> - ...

> [!tip] Refs
> - BOJ :: [{{ no }} - {{ title }}](https://www.acmicpc.net/problem/{{ no }})
> - GitHub :: [nno0obb/algorithm/.../soln{{ no }}.py](https://github.com/nno0obb/algorithm/tree/main/problem_solving/boj/{{ no }}/soln{{ no }}.py)

> [!multi-column]
>
>> [!cite] Tags
>> - [[🏷️ python3]]
>> - [[🏷️ solution]]
>
>> [!example] Paths
>> - [[🔖 computer_science]]
>>   - [[🔖 algorithm]]
>>     - [[🔖 problem_solving]]
>>       - [[🔖 boj]]
