"""
# 백준
# No. {{ no }}
# Python 3.11.9 (PyPy3..?)
# by "nno0obb"
"""

import sys

sys.setrecursionlimit(1_000_000)


# Global Variables
...


def main():
    # Input
    ...

    # Logic
    ...

    # Output
    ...


if __name__ == "__main__":
    main()
