---
created_at:
updated_at: 
---
---

```python
{{ code }}
```

---

> [!info] Keywords
> - ...

> [!tip] Refs
> - BOJ :: [{{ no }} - {{ title }}](https://www.acmicpc.net/problem/{{ no }})
> - GitHub :: [algorithm-ps/boj/{{ no }}](https://github.com/nno0obb/algorithm-ps/tree/main/boj/{{ no }})

> [!example] Tags
> - [[🔖 algorithm]]
> - [[🔖 boj]]
> - [[🔖 python3]]
