---
created_at:
updated_at: 
---
---

```python
{{ code }}
```

---

> [!info] Keywords
> - ...

> [!tip] Refs
> - LeetCode :: [{{ no }}. {{ title }}](https://leetcode.com/problems/{{ title }})
> - GitHub :: [algorithm-ps/leetcode/{{ no }}-{{ title }}](https://github.com/nno0obb/algorithm-ps/tree/main/leetcode/{{ no }}-{{ title }})

> [!multi-column]
>
>> [!cite] Tags
>> - [[🏷️ python3]]
>> - [[🏷️ solution]]
>
>> [!example] Paths
>> - [[🔖 algorithm]]
>>   - [[🔖 ps]]
>>     - [[🔖 leetcode]]
